# Pandas Lab Egor Ermakov 6132

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_wine

# 1. Dataframe creation
Считать в pandas DataFrame любой источник данных: любой CSV, JSON, Excel-файл, HTML-таблицу, данные из любой СУБД куда у вас есть доступ и т.п. Также можно сконвертировать в dataframe любой из встроенных датасетов sklearn: (см. инструкцию) Одним словом загружаете данные откуда угодно, куда можете дотянуться. Главное условие к датасету, который вы загружаете — там должны быть числовые колонки (по сути численные признаки).

In [2]:
data = load_wine(as_frame=True)
wine = data.frame

# 2. Operations with DataFrames

## I. .head()

In [3]:
wine.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

## II. .describe()

In [4]:
wine.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,0.938202
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,0.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,0.000000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,1.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,2.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,2.000000

## III. Reading value from a coloumn by index

In [5]:
wine['alcohol'][0]

14.23

## IV. Index slicing

In [6]:
wine[10:15]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
10,14.10,2.16,2.30,18.0,105.0,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510.0,0
11,14.12,1.48,2.32,16.8,95.0,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280.0,0
12,13.75,1.73,2.41,16.0,89.0,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320.0,0
13,14.75,1.73,2.39,11.4,91.0,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150.0,0
14,14.38,1.87,2.38,12.0,102.0,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547.0,0

## V. Slicing by condition

In [7]:
wine[wine.target == 1]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
59,12.37,0.94,1.36,10.6,88.0,1.98,0.57,0.28,0.42,1.95,1.05,1.82,520.0,1
60,12.33,1.10,2.28,16.0,101.0,2.05,1.09,0.63,0.41,3.27,1.25,1.67,680.0,1
61,12.64,1.36,2.02,16.8,100.0,2.02,1.41,0.53,0.62,5.75,0.98,1.59,450.0,1
62,13.67,1.25,1.92,18.0,94.0,2.10,1.79,0.32,0.73,3.80,1.23,2.46,630.0,1
63,12.37,1.13,2.16,19.0,87.0,3.50,3.10,0.19,1.87,4.45,1.22,2.87,420.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,12.07,2.16,2.17,21.0,85.0,2.60,2.65,0.37,1.35,2.76,0.86,3.28,378.0,1
126,12.43,1.53,2.29,21.5,86.0,2.74,3.15,0.39,1.77,3.94,0.69,2.84,352.0,1
127,11.79,2.13,2.78,28.5,92.0,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466.0,1
128,12.37,1.63,2.30,24.5,88.0,2.22,2.45,0.40,1.90,2.12,0.89,2.78,342.0,1
129,12.04,4.30,2.38,22.0,80.0,2.10,1.75,0.42,1.35,2.60,0.79,2.57,580.0,1

## VI. Sparse data handling

In [8]:
# sparse coloumn creation by setting some of the values to be nan
wine.loc[np.random.choice(wine['magnesium'].count(), int(0.13*wine['magnesium'].count()), replace=False),'magnesium'] = np.nan

In [9]:
# nan values check
np.where(wine['magnesium'].isna())

(array([  7,   9,  10,  19,  35,  39,  46,  51,  67,  80,  94, 106, 110,
        115, 121, 128, 131, 134, 146, 162, 166, 173, 176], dtype=int64),)

In [10]:
# delete rows with any of the coloumns to be nan
wine.dropna()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.640000,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.380000,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.680000,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.800000,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.320000,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,12.77,2.39,2.28,19.5,86.0,1.39,0.51,0.48,0.64,9.899999,0.57,1.63,470.0,2
172,14.16,2.51,2.48,20.0,91.0,1.68,0.70,0.44,1.24,9.700000,0.62,1.71,660.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.300000,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.200000,0.59,1.56,835.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.200000,0.61,1.60,560.0,2

In [11]:
# or fill nan values with the mean value for the corresponding coloumn
wine.fillna({'magnesium':wine['magnesium'].mean()})

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.000000,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.000000,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.000000,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.000000,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.000000,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,99.664516,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.000000,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.000000,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,99.664516,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.000000,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [12]:
# reset the data
data = load_wine(as_frame=True)
wine = data.frame

## VII. Field creation:

### VIII. from other fields

In [13]:
wine['new_field'] = wine['ash'] + wine ['alcalinity_of_ash']

In [14]:
wine['new_field']

0      18.03
1      13.34
2      21.27
3      19.30
4      23.87
       ...
173    22.95
174    25.48
175    22.26
176    22.37
177    27.24
Name: new_field, Length: 178, dtype: float64

### IX. using DataFrame.apply()

In [15]:
wine.apply( lambda row : row['new_field'] * 1000000, axis = 1 )

0      18030000.0
1      13340000.0
2      21270000.0
3      19300000.0
4      23870000.0
          ...
173    22950000.0
174    25480000.0
175    22260000.0
176    22370000.0
177    27240000.0
Length: 178, dtype: float64

### X. using Series.apply()

In [16]:
wine['new_field'].apply(lambda item : item / 1000000)

0      0.000018
1      0.000013
2      0.000021
3      0.000019
4      0.000024
         ...
173    0.000023
174    0.000025
175    0.000022
176    0.000022
177    0.000027
Name: new_field, Length: 178, dtype: float64

## XI. Sorting Dataframe

In [17]:
wine.sort_values('magnesium')

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,new_field
89,12.08,1.33,2.30,23.6,70.0,2.20,1.59,0.42,1.38,1.74,1.07,3.21,625.0,1,25.90
82,12.08,1.13,2.51,24.0,78.0,2.00,1.58,0.40,1.40,2.20,1.31,2.72,630.0,1,26.51
67,12.37,1.17,1.92,19.6,78.0,2.11,2.00,0.27,1.04,4.68,1.12,3.48,510.0,1,21.52
66,13.11,1.01,1.70,15.0,78.0,2.98,3.18,0.26,2.28,5.30,1.12,3.18,502.0,1,16.70
118,12.77,3.43,1.98,16.0,80.0,1.63,1.25,0.43,0.83,3.40,0.70,2.12,372.0,1,17.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,11.81,2.12,2.74,21.5,134.0,1.60,0.99,0.14,1.56,2.50,0.95,2.26,625.0,1,24.24
78,12.33,0.99,1.95,14.8,136.0,1.90,1.85,0.35,2.76,3.40,1.06,2.31,750.0,1,16.75
73,12.99,1.67,2.60,30.0,139.0,3.30,2.89,0.21,1.96,3.35,1.31,3.50,985.0,1,32.60
69,12.21,1.19,1.75,16.8,151.0,1.85,1.28,0.14,2.50,2.85,1.28,3.07,718.0,1,18.55
95,12.47,1.52,2.20,19.0,162.0,2.50,2.27,0.32,3.28,2.60,1.16,2.63,937.0,1,21.20

## XII. Using aggregating functions

In [18]:
wine[['magnesium','alcohol','ash']].mean()

magnesium    99.741573
alcohol      13.000618
ash           2.366517
dtype: float64

In [19]:
wine['target'].value_counts()

1    71
0    59
2    48
Name: target, dtype: int64

## XIII. Reindexing Dataframe

In [20]:
wine.set_index(wine['target'])

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,new_field
target,,,,,,,,,,,,,,,
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0,18.03
0,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0,13.34
0,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0,21.27
0,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0,19.30
0,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0,23.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2,22.95
2,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2,25.48
2,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2,22.26
2,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2,22.37
2,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2,27.24

# 3. .groupby()

In [21]:
wine.groupby([wine['target']]).count()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,new_field
target,,,,,,,,,,,,,,
0,59,59,59,59,59,59,59,59,59,59,59,59,59,59
1,71,71,71,71,71,71,71,71,71,71,71,71,71,71
2,48,48,48,48,48,48,48,48,48,48,48,48,48,48

# 4. .pivot()

In [22]:
wine.pivot(columns = ['target'],values=['proline', 'flavanoids'])

       proline            flavanoids
target       0   1      2          0   1     2
0       1065.0 NaN    NaN       3.06 NaN   NaN
1       1050.0 NaN    NaN       2.76 NaN   NaN
2       1185.0 NaN    NaN       3.24 NaN   NaN
3       1480.0 NaN    NaN       3.49 NaN   NaN
4        735.0 NaN    NaN       2.69 NaN   NaN
..         ...  ..    ...        ...  ..   ...
173        NaN NaN  740.0        NaN NaN  0.61
174        NaN NaN  750.0        NaN NaN  0.75
175        NaN NaN  835.0        NaN NaN  0.69
176        NaN NaN  840.0        NaN NaN  0.68
177        NaN NaN  560.0        NaN NaN  0.76

[178 rows x 6 columns]

# 5. .pivot_table()

In [23]:
pd.pivot_table(wine, columns = ['target'], values = ['proline', 'flavanoids'])

target                0           1           2
flavanoids     2.982373    2.080845    0.781458
proline     1115.711864  519.507042  629.895833

# 6. np.percentile()

In [24]:
np.quantile(wine['proline'],(178 - 59)/178)

836.6573033707865

# 7. np.histogram()

In [25]:
np.histogram(wine['proline'])

(array([22, 37, 41, 19, 13, 19,  8, 13,  4,  2], dtype=int64),
 array([ 278. ,  418.2,  558.4,  698.6,  838.8,  979. , 1119.2, 1259.4,
        1399.6, 1539.8, 1680. ]))

# 8. MultiIndex

In [26]:
wine.groupby([wine['proline'] < 836, wine['target']]).count()

                alcohol  malic_acid  ash  alcalinity_of_ash  magnesium  \
proline target
False   0            52          52   52                 52         52
        1             4           4    4                  4          4
        2             3           3    3                  3          3
True    0             7           7    7                  7          7
        1            67          67   67                 67         67
        2            45          45   45                 45         45

                total_phenols  flavanoids  nonflavanoid_phenols  \
proline target
False   0                  52          52                    52
        1                   4           4                     4
        2                   3           3                     3
True    0                   7           7                     7
        1                  67          67                    67
        2                  45          45                    45

                proanthocyanins  color_intensity  hue  \
proline target
False   0                    52               52   52
        1                     4                4    4
        2                     3                3    3
True    0                     7                7    7
        1                    67               67   67
        2                    45               45   45

                od280/od315_of_diluted_wines  proline  new_field
proline target
False   0                                 52       52         52
        1                                  4        4          4
        2                                  3        3          3
True    0                                  7        7          7
        1                                 67       67         67
        2                                 45       45         45

# 9. .merge()

In [27]:
pd.merge(wine,pd.DataFrame(np.arange(178)),left_on='target', right_on=0)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,new_field,0
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0,18.03,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0,13.34,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0,21.27,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0,19.30,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0,23.87,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2,22.95,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2,25.48,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2,22.26,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2,22.37,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2,27.24,2

# 10. .concat()

In [28]:
pd.concat([pd.Series(np.arange(4)), pd.Series(np.arange(8))])

0    0
1    1
2    2
3    3
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

# 11. .iterrows()

In [29]:
for row in wine.iterrows():
    print(row[0], end = '-'), print(row[1]['target'])

0-0.0
1-0.0
2-0.0
3-0.0
4-0.0
5-0.0
6-0.0
7-0.0
8-0.0
9-0.0
10-0.0
11-0.0
12-0.0
13-0.0
14-0.0
15-0.0
16-0.0
17-0.0
18-0.0
19-0.0
20-0.0
21-0.0
22-0.0
23-0.0
24-0.0
25-0.0
26-0.0
27-0.0
28-0.0
29-0.0
30-0.0
31-0.0
32-0.0
33-0.0
34-0.0
35-0.0
36-0.0
37-0.0
38-0.0
39-0.0
40-0.0
41-0.0
42-0.0
43-0.0
44-0.0
45-0.0
46-0.0
47-0.0
48-0.0
49-0.0
50-0.0
51-0.0
52-0.0
53-0.0
54-0.0
55-0.0
56-0.0
57-0.0
58-0.0
59-1.0
60-1.0
61-1.0
62-1.0
63-1.0
64-1.0
65-1.0
66-1.0
67-1.0
68-1.0
69-1.0
70-1.0
71-1.0
72-1.0
73-1.0
74-1.0
75-1.0
76-1.0
77-1.0
78-1.0
79-1.0
80-1.0
81-1.0
82-1.0
83-1.0
84-1.0
85-1.0
86-1.0
87-1.0
88-1.0
89-1.0
90-1.0
91-1.0
92-1.0
93-1.0
94-1.0
95-1.0
96-1.0
97-1.0
98-1.0
99-1.0
100-1.0
101-1.0
102-1.0
103-1.0
104-1.0
105-1.0
106-1.0
107-1.0
108-1.0
109-1.0
110-1.0
111-1.0
112-1.0
113-1.0
114-1.0
115-1.0
116-1.0
117-1.0
118-1.0
119-1.0
120-1.0
121-1.0
122-1.0
123-1.0
124-1.0
125-1.0
126-1.0
127-1.0
128-1.0
129-1.0
130-2.0
131-2.0
132-2.0
133-2.0
134-2.0
135-2.0
136-2.0
137-2.0
138-2.0
139-2.0
140-2.0
141-2.0
142-2.0
143-2.0
144-2.0
145-2.0
146-2.0
147-2.0
148-2.0
149-2.0
150-2.0
151-2.0
152-2.0
153-2.0
154-2.0
155-2.0
156-2.0
157-2.0
158-2.0
159-2.0
160-2.0
161-2.0
162-2.0
163-2.0
164-2.0
165-2.0
166-2.0
167-2.0
168-2.0
169-2.0
170-2.0
171-2.0
172-2.0
173-2.0
174-2.0
175-2.0
176-2.0
177-2.0